movies2.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT movies (movie+)>
<!ELEMENT movie (title+, year, genre+, rating, votes)>
<!ATTLIST movie id CDATA #REQUIRED>
<!ELEMENT title (#PCDATA)>
<!ATTLIST title xml:lang CDATA #REQUIRED>
<!ELEMENT year (#PCDATA)>
<!ELEMENT genre (#PCDATA)>
<!ELEMENT rating (#PCDATA)>
<!ELEMENT votes (#PCDATA)>